
* {
    box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

body {
    font-family: 'Rubik', sans-serif;
    position: relative;
}

h2 {
  font-size: 40px;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Righteous', cursive;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    background-color: #9FBCC6;
    overflow: none;
    display: inline-flex;
    flex-direction: column;
}

.sidebar a {
    padding: 10px;
    text-decoration: solid;
    text-align: start;
    font-size: 18px;
    color: white;
    transition-duration: 0.3s;
}

@media (any-hover: hover) {
.sidebar a:hover {
  background: linear-gradient(to top right, #660066 0%, #33ccff 100%);    
  transform: scale(1.03);
}
}
.active {
    background: linear-gradient(45deg, rgb(79,43,76) 0%, rgb(66,9,79) 54%, rgb(188,159,198) 100%);
  }

.content {
    margin-left: 200px;
    padding: 1px 16px ;
    height: 100%;
    background-color:#DAD9DE;
}

li {
   text-align: justify;
   font-weight: bolder;
}

span {
   font-weight: normal;
}

ul {
   background: #F4F4F4;
   padding: 20px;
   line-height: 30px;
   border-radius:5mm;
   font-size: 18px;
 }

@media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    .sidebar a:hover {scale: 0.93;}
    .content {margin-left: 0;}
    .modo:hover .tooltip {display: none;}
    .modo:hover .tooltip_2 {display: none;}
    button:active {
      background-color: black;
      color: white;
    }
    .sidebar a:active {
      background: linear-gradient(to top right, #660066 0%, #33ccff 100%);    
    }

  }

  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: start;
      float: none;
      font-size: 16px;
      padding: 5px;
    }
    .sidebar a:active {
      background: linear-gradient(to top right, #660066 0%, #33ccff 100%);    
    }
    button:active {
      background-color: black;
      color: white;
    }
    h2 {font-size: 30px;}
    h3 {font-size: 18px;}
    .sidebar {padding-top: 8px;}
    .content {padding: 1px 2px;}
    li {text-align:left;}
    button {font-size: 10px;}
    .botones {padding: 5px;}
    .modo:hover .tooltip {display: none;}
    .modo:hover .tooltip_2 {display: none;}
  }

  .responsive_img {
    max-width: 100%;
    height: auto;
    float: right;
    border-radius: 10%;
    border: 2px solid #635275;
    box-shadow: 5px 5px 17px 1px #000000;
  }

  video {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
  }

  .botones {
    border-bottom-right-radius: 4px;
    padding: 9px 16px;
    background: linear-gradient(to right, #3399ff 0%, #660066 100%);    
    box-shadow: 5px 5px 17px 1px #000000;
  }

  button {
    border: none;
    background: transparent;    
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    transition-duration: 0.3s;
    box-shadow: 3px 3px 6px 0;
    padding: 4px;
  }

  .modo {
    border-radius: 100%;
  }

  @media (any-hover: hover) {
  button:hover {
    background-color: black;
    color: white;
  }
  }

  #fecha {
    color: black;
    font-weight: bold;
    font-size: 12px;
  }

  #arriba {
    color: gray;
    background-color: #555;
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 16px;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    padding: 10px;
    opacity: 0.7;
  }

  #arriba:hover {
    color: white;
    background-color: black;
  }

  .modo {
    position: relative;
    display: inline-block;
  }

  .modo .tooltip, .tooltip_2 {
    visibility: hidden;
    width: 80px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: -125%;
    left: 50%;
    margin-left: -40px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .modo .tooltip::after, .tooltip_2::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
  } 

  .modo:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
  
  .modo:hover .tooltip_2 {
    visibility: visible;
    opacity: 1;
  }