
* {
    box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

body {
    font-family: 'Rubik', sans-serif;
    position: relative;
}

h2 {
  font-size: 30px;
  text-decoration: underline;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    background-color: #9FBCC6;
    overflow: auto;
    display: inline-flex;
    flex-direction: column;
}

.sidebar a {
    padding: 10px;
    text-decoration: solid;
    text-align: start;
    font-size: 18px;
    color: white;
    transition-duration: 0.3s;
}

.sidebar a:hover {
    background-color: #9479A3;
    transform: scale(1.1);
}

.active {
    background: linear-gradient(45deg, rgb(79,43,76) 0%, rgb(66,9,79) 54%, rgb(188,159,198) 100%);
  }

div.content {
    margin-left: 200px;
    padding: 1px 16px ;
    height: 100%;
    background-color:#DAD9DE;
}

li {
   text-align: justify;
   font-weight: bolder;
}

span {
   font-weight: normal;
}

ul {
   background: #F4F4F4;
   padding: 20px;
   line-height: 30px;
   border-radius:5mm;
   font-size: 18px;
 }

@media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }

  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: start;
      float: none;
      font-size: 16px;
      padding: 5px;
    }
    .sidebar {padding-top: 8px;}
    div.content {padding: 1px 2px;}
    li {text-align:left;}
    button {font-size: 10px;}
    div.botones {padding: 5px;}
  }

  .responsive_img {
    max-width: 100%;
    height: auto;
    float: right;
    border-radius: 10%;
    border: 2px solid #635275;
    box-shadow: 5px 5px 17px 1px #000000;
  }

  div.botones {
    padding: 9px 16px;
    background: linear-gradient(135deg, #9479A3 0%, #863FCB 53%, #144E75 100%);
    box-shadow: 5px 5px 17px 1px #000000;
  }

  button {
    border: none;
    background: linear-gradient(45deg, #E8DAEF 0%, #8D54CB 31%, #635275 100%);    
    padding: 3px 2px;
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    transition-duration: 0.3s;
    box-shadow: 3px 3px 6px 0;
    padding: 4px;
  }

  .modo {
    border-radius: 100%;
  }

  button:hover {
    background-color: #4F2B4C;
    color: white;
  }

  #fecha {
    color: black;
    font-weight: bold;
    font-size: 12px;
  }

  .modo {
    position: relative;
    display: inline-block;
  }

  .modo .tooltip, .tooltip_2 {
    visibility: hidden;
    width: 80px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: -125%;
    left: 50%;
    margin-left: -40px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .modo .tooltip::after, .tooltip_2::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
  } 

  .modo:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
  
  .modo:hover .tooltip_2 {
    visibility: visible;
    opacity: 1;
  }